//Buttons
//

a {
  &.btn {
    text-decoration: none;
    display: inline-block;
    &:hover {
      text-decoration: none;
    }
  }
}

.btn {
  padding: $btn-padding;
  text-transform: uppercase;
  font-family: $btn-font-family;
  font-size: $btn-font-size;
  border-radius: 100px; //always rounded
  &:hover {
    transform: scale($btn-scale-hover);
  }
  &.btn-default {
    @include btn-color($color-white, $btn-default-color);
    @extend %transition-default;
  }
  &.btn-lighten {
    @include btn-color($color-black, $btn-lighten-color);
    @extend %transition-default;
  }
  &.btn-whitout-shadow {
    box-shadow: none;
  }
}