//Gaps
//

.left-gap { margin-left: $lp-spacement-b !important; }
.right-gap { margin-right: $lp-spacement-b !important; }
.top-gap { margin-top: $lp-spacement-b !important; }
.bottom-gap { margin-bottom: $lp-spacement-b !important; }

.no-gap { margin: 0 !important; }
.no-left-gap { margin-left: 0 !important; }
.no-right-gap { margin-right: 0 !important; }
.no-top-gap { margin-top: 0 !important; }
.no-bottom-gap { margin-bottom: 0 !important; }