//Variables Default
//

//Font
$font-family-primary: 'Roboto', sans-serif !default;
$font-family-secondary: 'Roboto Slab', serif !default;
$font-size-default: 14px !default;
$line-height-default: 1.5em !default;

//Variables LP
//

//lp-side
$lp-side-w: 350px !default;
$lp-side-image-w: 200px;

//lp-spacements
$lp-spacement: 100px !default;
$lp-spacement-b: 15px !default;
