//
//Reseting css

body, html {
  margin: 0;
  padding: 0;
  color: lighten($color-black, 30%);
  @extend %size-full;
}

.circle {
  @extend %circle;
  img {
    @extend %size-full;
  }
}

ul {
  margin: 0;
  padding: 0;
}

a {
  color: $link-color;
  text-decoration: none;
  
  &:hover {
    text-decoration: underline;
  }
}

//
//App
//'lp' required prefix in all classes
//using method BEM by @interaminense

.lp {
  height: 100%;

  .lp__side {
    padding: $lp-spacement;
    background-color: $primary-color;
    max-width: $lp-side-w;
    box-shadow: $lp-side-shadow;
    position: relative;
    z-index: 2;
    @extend %transition-menu;
  }
  .lp__content {
    font-family: $font-family-secondary;
  }
  .lp__side, .lp__content {
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .lp__btn-menu {
    position: absolute;
    right: 15px;
    top: 15px;
    display: none;
  }

  //side only
  .lp__side-image {
    width: $lp-side-image-w;
    height: $lp-side-image-w;
    margin: 0 auto #{$lp-spacement-b * 4} auto;
  }
  .lp__side-blur {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    filter: blur(25px);
    opacity: .3;
    z-index: -1;
  }

  //projects
  .lp__projects {
    padding: 0 $lp-spacement;
    height: calc(100vh - #{$header-height});
    overflow-x: hidden;
    overflow-y: auto;
  }
  .lp__project {
    list-style-type: none;
    margin: ($lp-spacement / 2) 0 $lp-spacement;
    position: relative;
    
    &:last-child {
      &:after, &:before {
        display: none;
      }
    }

    &:after, &:before {
      content: "";
      position: absolute;
    }
    &:after {
      width: 10px;
      height: 10px;
      left: 0;
      right: 0;
      margin: auto;
      background: white;
      bottom: -54px;
      border-radius: 50%;
      box-shadow: 0 0 0 3px #e4e4e4;
    }
    &:before {
      content: "";
      width: 100%;
      height: 2px;
      background: linear-gradient(90deg, transparent, #e4e4e4, transparent);
      bottom: -50px;
      left: 0;
    }
  }
  .lp__project-title {
    font-family: $font-family-primary;
    @extend .text-weight-500;
    @extend .text-uppercase;
  }
  .lp__project-subtitle {
    @extend .text-weight-300;
    @extend .no-top-gap;
  }
  .lp__project-img {
    width: calc(#{$lp-box-img-w} + #{$lp-spacement * 2});
    height: $lp-box-img-h;
    overflow: hidden;
    margin-left: -#{$lp-spacement};
    margin-right: -#{$lp-spacement};
    transition: $lp-transition-img-project;
    
    &:hover {
      height: $lp-box-img-h + 150px;
    }

    img {
      @extend %size-full;
      object-fit: cover;
    }
  }
  .lp__project-tech-list {
    margin-left: $lp-spacement-b * 3;
    @extend .bottom-gap;
  }
}
