//Colors
//

//primary color
$primary-color: #2196f3 !default;

$color-white: #fff;
$color-black: #000;

$color-a: #8BC34A;
$color-b: #673ab7;
$color-c: #ff9800;
$color-d: #e91e63;
$color-e: #607d8b;

.text-white {
  color: $color-white;
}

.text-black {
  color: $color-black;
}

.bg-color-a { background-color: $color-a; }
.bg-color-b { background-color: $color-b; }
.bg-color-c { background-color: $color-c; }
.bg-color-d { background-color: $color-d; }
.bg-color-e { background-color: $color-e; }

.color-a { color: $color-a; }
.color-b { color: $color-b; }
.color-c { color: $color-c; }
.color-d { color: $color-d; }
.color-e { color: $color-e; }