//Colors
//

//primary color
$primary-color: #2196f3 !default;

$color-white: #fff;
$color-black: #000;

$color-a: #8BC34A;
$color-b: #673ab7;

.text-white {
  color: $color-white;
}

.text-black {
  color: $color-black;
}