//Extends
//

//size full
%size-full {
  width: 100%;
  height: 100%;
}

//circle
%circle {
  border-radius: 50%;
  overflow: hidden;
}

//transitions
%transition-default {
  transition: all $transition-speed linear;
}

%transition-menu {
  transition: all #{$transition-speed * 3} ease-out;
}