//Typography
//

body {
  font-family: $font-family-primary;
  font-size: $font-size-default;
  line-height: $line-height-default;
}

h1 { 
  font-size: $font-size-default * 2.2;
}
h2 { 
  font-size: $font-size-default * 2;
}
h3 { 
  font-size: $font-size-default * 1.8;
}
h4 { 
  font-size: $font-size-default * 1.6;
}
h5 { 
  font-size: $font-size-default * 1.4;
}
h6 { 
  font-size: $font-size-default * 1.2;
}

//custom text

.text-center {
  @include text-align(center);
}

.text-right {
  @include text-align(right);
}

.text-left {
  @include text-align(left);
}

.text-uppercase {
  @include text-transform(uppercase);
}

.text-lowercase {
  @include text-transform(lowercase);
}

//text weight
@for $i from 1 through 9 {
  .text-weight-#{$i}00 {
    font-weight: $i * 100;
  }
}

