@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900");
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700");
.text-white {
  color: #fff; }

.text-black {
  color: #000; }

.bg-color-a {
  background-color: #8BC34A; }

.bg-color-b {
  background-color: #673ab7; }

.bg-color-c {
  background-color: #ff9800; }

.bg-color-d {
  background-color: #e91e63; }

.bg-color-e {
  background-color: #607d8b; }

.color-a {
  color: #8BC34A; }

.color-b {
  color: #673ab7; }

.color-c {
  color: #ff9800; }

.color-d {
  color: #e91e63; }

.color-e {
  color: #607d8b; }

body, html, .circle img, .lp .lp__side, .lp .lp__content, .lp .lp__project-img img {
  width: 100%;
  height: 100%; }

.circle {
  border-radius: 50%;
  overflow: hidden; }

.header .header__links a, .btn.btn-default, .btn.btn-lighten, .lp .lp__pagination, .lp .lp__pagination-item, .lp .lp__pagination-item a {
  transition: all 0.1s linear; }

.lp .lp__side {
  transition: all 0.3s ease-out; }

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.8em; }

h1 {
  font-size: 35.2px; }

h2 {
  font-size: 32px; }

h3 {
  font-size: 28.8px; }

h4 {
  font-size: 25.6px; }

h5 {
  font-size: 22.4px; }

h6 {
  font-size: 19.2px; }

.text-center, .lp .lp__pagination-item {
  text-align: center; }

.text-right {
  text-align: right; }

.text-left {
  text-align: left; }

.text-uppercase, .lp .lp__project-title {
  text-transform: uppercase; }

.text-lowercase {
  text-transform: lowercase; }

.text-weight-100 {
  font-weight: 100; }

.text-weight-200 {
  font-weight: 200; }

.text-weight-300, .lp .lp__project-subtitle {
  font-weight: 300; }

.text-weight-400 {
  font-weight: 400; }

.text-weight-500, .lp .lp__project-title {
  font-weight: 500; }

.text-weight-600 {
  font-weight: 600; }

.text-weight-700 {
  font-weight: 700; }

.text-weight-800 {
  font-weight: 800; }

.text-weight-900 {
  font-weight: 900; }

.flex, .header .header__links {
  display: flex; }
  .flex.flex--centered, .header .flex--centered.header__links, .flex .flex__centered, .header .header__links .flex__centered {
    justify-content: center;
    align-items: center; }
  .flex.flex--vertical-middle, .header .header__links {
    align-items: center; }
  .flex.flex--space-between, .header .flex--space-between.header__links {
    justify-content: space-between; }

.header {
  position: relative;
  padding: 0 40px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  height: 68px;
  font-family: "Roboto", sans-serif;
  z-index: 1; }
  .header .header__title {
    min-width: 150px; }
  .header .header__links {
    list-style-type: none;
    overflow-x: auto;
    height: inherit; }
    .header .header__links li {
      margin: 0 0 0 30px;
      font-size: 1.3em; }
    .header .header__links a {
      color: #000; }
      .header .header__links a:hover {
        color: #2196f3; }
  .header .header__btn-menu {
    display: none; }

a.btn {
  text-decoration: none;
  display: inline-block; }
  a.btn:hover {
    text-decoration: none; }

.btn {
  padding: 5px 30px;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-size: 0.8em;
  border-radius: 100px; }
  .btn:hover {
    transform: scale(1.05); }
  .btn.btn-default {
    background-color: #2196f3;
    color: #fff;
    box-shadow: 3px 3px 10px 0px rgba(33, 150, 243, 0.5); }
  .btn.btn-lighten {
    background-color: #fff;
    color: #000;
    box-shadow: 3px 3px 10px 0px rgba(255, 255, 255, 0.5); }
  .btn.btn-whitout-shadow {
    box-shadow: none; }

.badge {
  padding: 4px 10px;
  border-radius: 5px;
  font-size: 0.7em;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  display: inline-block;
  line-height: 15px; }
  .badge.badge-default {
    background-color: #2196f3;
    color: #fff; }
  .badge.badge-a {
    background-color: #8BC34A;
    color: #fff; }
  .badge.badge-b {
    background-color: #673ab7;
    color: #fff; }

.left-gap {
  margin-left: 15px !important; }

.right-gap {
  margin-right: 15px !important; }

.top-gap {
  margin-top: 15px !important; }

.bottom-gap, .lp .lp__project-tech-list {
  margin-bottom: 15px !important; }

.no-gap {
  margin: 0 !important; }

.no-left-gap {
  margin-left: 0 !important; }

.no-right-gap {
  margin-right: 0 !important; }

.no-top-gap, .lp .lp__project-subtitle {
  margin-top: 0 !important; }

.no-bottom-gap {
  margin-bottom: 0 !important; }

.scroll::-webkit-scrollbar {
  width: 8px; }

.scroll::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2); }

.scroll.scroll--bg::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.2); }

.scroll.scroll--radius::-webkit-scrollbar-thumb {
  border-radius: 8px; }

body, html {
  margin: 0;
  padding: 0;
  color: #4d4d4d;
  overflow: hidden; }

ul {
  margin: 0;
  padding: 0; }

a {
  color: #2196f3;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

.lp {
  height: 100%; }
  .lp .lp__side {
    padding: 0 41px;
    background-color: #2196f3;
    max-width: 500px;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.1), 10px 0px 20px rgba(0, 0, 0, 0.05);
    position: relative;
    overflow: hidden;
    z-index: 2; }
  .lp .lp__content {
    font-family: "Roboto Slab", serif; }
  .lp .lp__btn-menu {
    position: absolute;
    right: 15px;
    top: 15px;
    display: none; }
  .lp .lp__side-image {
    width: 150px;
    height: 150px;
    margin: 0 auto 60px auto; }
  .lp .lp__side-blur {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    filter: blur(25px) grayscale(100%);
    opacity: .3;
    z-index: -1; }
  .lp .lp__about-me {
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100% - 100px);
    padding: 0 50px;
    margin: 50px 0; }
    .lp .lp__about-me.scroll::-webkit-scrollbar-thumb {
      visibility: hidden; }
    .lp .lp__about-me.scroll:hover::-webkit-scrollbar-thumb {
      visibility: visible; }
  .lp .lp__projects {
    padding: 0 41px;
    height: calc(100vh - 68px);
    overflow-x: hidden;
    overflow-y: auto; }
  .lp .lp__project {
    list-style-type: none;
    padding-bottom: 82px;
    margin: 41px 0 82px;
    position: relative; }
    .lp .lp__project:last-child:after, .lp .lp__project:last-child:before {
      display: none; }
    .lp .lp__project:after, .lp .lp__project:before {
      content: "";
      position: absolute; }
    .lp .lp__project:after {
      width: 10px;
      height: 10px;
      left: 0;
      right: 0;
      margin: auto;
      background: white;
      bottom: -4px;
      border-radius: 50%;
      box-shadow: 0 0 0 3px #e4e4e4; }
    .lp .lp__project:before {
      content: "";
      width: 100%;
      height: 2px;
      background: linear-gradient(90deg, transparent, #e4e4e4, transparent);
      bottom: 0px;
      left: 0; }
  .lp .lp__project-title {
    font-family: "Roboto", sans-serif; }
  .lp .lp__project-img {
    width: calc(100% + 82px);
    height: 300px;
    overflow: hidden;
    margin-left: -41px;
    margin-right: -41px;
    transition: height 0.5s ease-in-out; }
    .lp .lp__project-img:hover {
      height: 450px; }
    .lp .lp__project-img img {
      object-fit: cover; }
  .lp .lp__project-tech-list {
    margin-left: 45px; }
  .lp .lp__pagination {
    position: absolute;
    right: 0;
    top: 0;
    list-style-type: none;
    height: inherit;
    background: rgba(0, 0, 0, 0.02); }
    .lp .lp__pagination:hover .lp__pagination-item:not(.lp__pagination-item--is-active) a {
      opacity: .8; }
  .lp .lp__pagination-item:not(.lp__pagination-item--is-active) a {
    background: transparent; }
    .lp .lp__pagination-item:not(.lp__pagination-item--is-active) a:hover {
      background: linear-gradient(45deg, rgba(0, 0, 0, 0.05), transparent); }
  .lp .lp__pagination-item.lp__pagination-item--is-active a, .lp .lp__pagination-item.lp__pagination-item--is-active a:hover {
    cursor: default;
    opacity: 1; }
  .lp .lp__pagination-item a {
    padding: 5px 15px;
    display: block;
    color: #fff;
    font-size: .8em;
    font-weight: 900;
    text-decoration: none;
    opacity: .2; }

@media screen and (max-width: 768px) {
  .lp .lp__side {
    max-width: none;
    position: absolute;
    height: 100%;
    transform: translateX(-100%);
    padding: 0; }
    .lp .lp__side.lp__side--is-open {
      transform: translateX(0%); }
  .lp .lp__btn-menu {
    display: block; }
  .lp .lp__pagination {
    display: none; }
  .header .header__btn-menu {
    display: inline-block; }
  .header .header__links {
    margin-right: -40px;
    box-shadow: -27px 0px 40px -30px #2196f3 inset; } }
